@charset "utf-8";

/* font */
/* Noto Sans */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/font/NotoSansKR-Regular.woff2') format('woff2'),
       url('/font/NotoSansKR-Regular.woff') format('woff'),
       url('/font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
   font-family: 'Noto Sans';
   font-style: normal;
   font-weight: 500;
   src: url('/font/NotoSansKR-Medium.woff2') format('woff2'),
        url('/font/NotoSansKR-Medium.woff') format('woff'),
        url('/font/NotoSansKR-Medium.otf') format('opentype');
}


/* reset */
html {-webkit-text-size-adjust:none;}
html.fix {overflow:hidden;}
html,body {height:100%;}
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,label,input,textarea,button,select,option {margin:0;padding:0;font-family:'Malgun Gothic',sans-serif, Arial, Dotum, Gulim, Verdana, Tahoma;color:#333;font-weight:400;letter-spacing:-0.04em;}
header,section,article,aside,footer,nav {display:block;}
legend,caption {position:absolute;top:-9999px;left:-9999px;width:0;height:0;font-size:0;visibility:hidden;overflow:hidden;}
img {border:0;vertical-align:top;}
fieldset {border:0;}
ul,ol,dl {list-style:none;}
textarea,button,select,input {box-sizing:border-box;border:none;vertical-align:middle;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button {border:none;background-color:transparent;cursor:pointer;}
em,address {font-style:normal;}
a {text-decoration:none;color:#333;}
a:hover,a:active,a:focus {text-decoration:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
th, td {box-sizing:border-box;word-break:break-all;word-wrap:break-word;}
strong {font-weight:400;}

/* placholder */
input::placeholder {color:#999 !important;}
input::-webkit-input-placeholder {color:#999 !important;}
input::-moz-placeholder {color:#999 !important;}
input:-ms-input-placeholder {color:#999 !important;}
input:-moz-placeholder {color:#999 !important;}
textarea::placeholder {color:#999 !important;}
textarea::-webkit-input-placeholder {color:#999 !important;}
textarea::-moz-placeholder {color:#999 !important;}
textarea:-ms-input-placeholder {color:#999 !important;}
textarea:-moz-placeholder {color:#999 !important;}


/* form */
input[type="text"], input[type="password"] {width:100%;height:42px;padding:0 12px;background-color:#fff;border:#dcdcdc 1px solid;font-size:15px;color:#333;letter-spacing:-0.05em;}
input[type="text"]::-ms-clear, input[type="password"]::-ms-clear, input[type='number']::-ms-clear, input[type='email']::-ms-clear {display:none;}
textarea {width:100%;padding:12px;background-color:#fff;border:#dcdcdc 1px solid;font-size:15px;line-height:26px;color:#333;letter-spacing:-0.05em;}
textarea:focus, button:focus, select:focus, input:focus {outline:none;}

/* checkbox */
.checkbox {display:inline-block;position:relative;height:28px;text-align:left;}
.checkbox input[type="checkbox"] {position:absolute;left:0px;top:0px;width:28px;height:28px;background:none;z-index:1;visibility:hidden;}
.checkbox input[type="checkbox"] + label {display:inline-block;position:relative;padding-left:35px;margin-right:25px;color:#333;font-size:16px;line-height:28px;cursor:pointer; z-index:5;}
.checkbox input[type="checkbox"] + label:before {content:'';display:inline-block;position:absolute;left:0;bottom:0;width:28px;height:28px;background-image:url(/images/common/checkbox.png);z-index:5;}
.checkbox input[type="checkbox"]:checked + label:before {background-image:url(/images/common/checkbox_on.png);}
.checkbox input[type="checkbox"]:checked {border:0 none;z-index:0;}


/* common */
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

.input.w340 {width:340px;}
.textarea.h300 {height:300px;}

/* tab */
.tab_wrap > .tab_cont {display:none;}
.tab_wrap > .tab_cont.on {display:block;}
/* type 1 */
.tab_type1 > .tab_menu {display:table;table-layout:fixed;width:100%;height:70px;margin-bottom:40px;}
.tab_type1 > .tab_menu > li {display:table-cell;}
.tab_type1 > .tab_menu > li a {position:relative;display:block;width:100%;height:70px;line-height:68px;border:#ddd 1px solid;border-left:none;box-sizing:border-box;background:#eee;color:#999;font-size:18px;font-family:'Noto Sans';text-align:center;}
.tab_type1 > .tab_menu > li:first-child a {border-left:#ddd 1px solid;border-radius:2px 0 0 2px;}
.tab_type1 > .tab_menu > li:last-child a {border-radius:0 2px 2px 0;}
.tab_type1 > .tab_menu > li.on a {background:#0068b8;border-color:#0068b8;color:#fff;font-weight:500;}

/* board */
.board_search {position:absolute;top:77px;right:36px;width:338px;height:40px;border:#dcdcdc 1px solid;border-radius:2px;}
.board_search .input {width:288px;height:40px;border:0;font-size:15px;}
.board_search .btn_search {width:50px;height:40px;background:url('/images/common/icon_btn_search.png') center center no-repeat;}

.board_sorting {display:inline-block;position:relative;width:170px;height:42px;margin:1px 0 0 27px;box-sizing:border-box;border:#dcdcdc 1px solid;border-radius:20px;vertical-align:middle;}
.board_sorting.w220 {width:220px;}/*분양건물정보*/
.board_sorting.w150 {width:150px;}/*Photo소식*/
.board_sorting > a {display:block;position:relative;height:40px;line-height:40px;padding:0 35px 0 15px;color:#666;font-size:15px;}
.board_sorting > a:after {content:'';display:block;position:absolute;top:18px;right:15px;width:12px;height:6px;background-repeat:no-repeat;background-image:url("/images/common/icon_sorting.png");}
.board_sorting .sort_list {display:none;position:absolute;top:40px;left:-1px;width:100%;padding-top:2px;border:1px solid #e5e5e5;border-top:none;background:#fff;border-radius:0 0 20px 20px;overflow:hidden;z-index:900;}
.board_sorting .sort_list a {display:block;height:42px;line-height:42px;padding:0 20px;font-size:15px;color:#333;white-space:nowrap;}
.board_sorting .sort_list a:hover {background:#f2f7fb;color:#0068b8;}
.board_sorting.on {border-radius:20px 20px 0 0;}
.board_sorting.on > a:after {background-image:url("/images/common/icon_sorting_on.png");}
.board_sorting.on .sort_list {display:block;}

.board_top_rtxt {position:absolute;top:100px;right:36px;}
.board_top_rtxt .txt {display:inline-block;position:relative;padding-left:9px;color:#666;font-size:15px;letter-spacing:-1px;}
.board_top_rtxt .txt:before {content:'';display:block;position:absolute;top:9px;left:0;width:3px;height:3px;border-radius:100%; background:#aaa; }
.board_top_rtxt .txt em {color:#f54c4c;}
.board_top_rtxt .down_acrobat {display:inline-block;margin-left:15px;font-size:14px;color:#985252;}
.board_top_rtxt .down_acrobat:before {content:'';display:inline-block;width:15px;height:15px;margin-right: 5px;background:url(/images/common/icon_down_acrobat.png);vertical-align:-3px;}
.board_top_rtxt .down_acrobat span {display:inline-block;border-bottom:#b58989 1px solid;}
.board_top_rtxt .down_sumatra {display:inline-block;margin-left:15px;font-size:14px;color:#666;}
.board_top_rtxt .down_sumatra:before {content:'';display:inline-block;width:21px;height:15px;margin-right: 5px;background:url(/images/common/icon_down_sumatra.png);vertical-align:-3px;}
.board_top_rtxt .down_sumatra span {display:inline-block;border-bottom:#949494 1px solid;}
/* list */
.board_list_type1 thead th {height:67px;padding:10px;border-top:#0068b8 3px solid;border-bottom:#444 1px solid;font-size:15px;color:#666;text-align:center;}
.board_list_type1 tbody td {height:71px;padding:10px;border-bottom:#e5e5e5 1px solid;font-size:16px;color:#333;text-align:center;}
.board_list_type1 tbody td[class*="tit"] a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:left;}
.board_list_type1 tbody td.tit a {width:850px;}/*회사소개*/
.board_list_type1 tbody td.tit2 a {width:580px;}/*경영현황*/
.board_list_type1 tbody td.tit3 a {width:670px;}/*공매물건정보*/
.board_list_type1 .keyword {color:#0068b8;font-weight:bold;}
.board_list_type1 .state {color:#666;font-weight:bold;}
.board_list_type1 .state .ing {color:#0068b8;}
.board_list_type1 .state .fin {color:#bbb;}
.board_list_type1 .no_result {padding:50px 0;word-break:keep-all;}
.board_list_type1 .icon_file {display:inline-block;width:17px;height:21px;background:url(/images/common/icon_file.png);vertical-align:-3px;}
.board_list_type1 .btn_m {display:inline-block;height:32px;line-height:32px;margin:0 4px;padding:0 14px;border-radius:2px;background:#fff;border:#c9c9c9 1px solid;font-size:14px;color:#666;letter-spacing:-1px;text-align:center;vertical-align:middle;}
.board_list_type1 .btn_m.pdf:before, .board_list_type1 .btn_m.down:before {content:'';display:inline-block;width:13px;height:16px;margin-right:7px;background-repeat:no-repeat;vertical-align:-3px;}
.board_list_type1 .btn_m.pdf:before {background-image:url(/images/common/icon_btn_pdf.png);vertical-align:-3px;}
.board_list_type1 .btn_m.down:before {background-image:url(/images/common/icon_btn_down.png);vertical-align:-3px;} 

.board_list_type2 {clear:both;border-top:#0068b8 3px solid;}
.board_list_type2:after {content:'';display:block;clear:both;}
.board_list_type2 li {display:table;width:100%;padding:30px;box-sizing:border-box;border-bottom:#eee 1px solid;}
.board_list_type2 li .thum {display:table-cell;width:300px;height:182px;vertical-align:top}
.board_list_type2 li .thum img {width:100%;height:100%;}
.board_list_type2 li .cont {display:table-cell;height:182px;padding-left:30px;vertical-align:top;}
.board_list_type2 li .cont .tit {display:block;height:60px;margin-bottom:16px;color:#333;font-size:22px;line-height:32px;font-family:'Noto Sans';display:-webkit-box;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;word-break:keep-all;word-wrap:break-word;text-align:left;}
.board_list_type2 li .cont .info {display:table;width:100%;padding-top:4px;}
.board_list_type2 li .cont .info strong {display:table-cell;position:relative; width:87px;color:#999;font-size:15px;line-height:22px; vertical-align:top;}
.board_list_type2 li .cont .info strong:after {content:':';display:block;position:absolute;top:0;right:0;}
.board_list_type2 li .cont .info em {display:table-cell;padding-left:15px;color:#333;font-size:16px;line-height:22px;vertical-align:top;}

.board_list_type3 {clear:both;border-top:#0068b8 3px solid;}
.board_list_type3:after {content:'';display:block;clear:both;}
.board_list_type3 ul {padding:0 18px;}
.board_list_type3 li {float:left;width:328px;height:353px;padding:0 18px;border-bottom:#e5e5e5 1px solid;}
.board_list_type3 li .thum {display:block;width:328px;height:202px;margin-top:40px;}
.board_list_type3 li .thum img {width:100%;height:100%;}
.board_list_type3 li .cont {display:block;padding-top:16px;text-align:center;}
.board_list_type3 li .cont .tit {display:block;color:#333;font-size:22px;font-family:'Noto Sans';font-weight:500;letter-spacing:-1px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.board_list_type3 li .cont .date {display:block;padding-top:7px;color:#999;font-size:16px;line-height:1;}

.board_list_type4 {padding:6px 0 28px 0}
.board_list_type4 thead th {height:62px;padding:10px;border-top:#0068b8 3px solid;border-bottom:#ececec 1px solid;border-left:#ececec 1px solid;background-color:#f8f8f8;font-size:15px;color:#666;text-align:center;}
.board_list_type4 thead th:first-child {border-left: none;}
.board_list_type4 tbody th,.board_list_type4 tbody td {height:61px;padding:10px;border-bottom:#e5e5e5 1px solid;border-left:#e5e5e5 1px solid;font-size:16px;color:#333;text-align:center;}
.board_list_type4 tbody th:first-child,.board_list_type4 tbody td:first-child {border-left: none;}
.board_list_type4 tbody td[class*="tit"] a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:left;}
.board_list_type4 tbody td.tit a {width:850px;}/*회사소개*/
.board_list_type4 tbody td.tit2 a {width:580px;}/*경영현황*/
.board_list_type4 tbody td.tit3 a {width:670px;}/*공매물건정보*/
.board_list_type4 .keyword {color:#0068b8;font-weight:bold;}
.board_list_type4 .state {color:#666;font-weight:bold;}
.board_list_type4 .state .ing {color:#0068b8;}
.board_list_type4 .state .fin {color:#bbb;}
.board_list_type4 .no_result {padding:50px 0;word-break:keep-all;}
.board_list_type4 .icon_file {display:inline-block;width:17px;height:21px;background:url(/images/common/icon_file.png);vertical-align:-3px;}
.board_list_type4 .btn_m {display:inline-block;height:32px;line-height:32px;margin:0 4px;padding:0 14px;border-radius:2px;background:#fff;border:#c9c9c9 1px solid;font-size:14px;color:#666;letter-spacing:-1px;text-align:center;vertical-align:middle;}
.board_list_type4 .btn_m.pdf:before, .board_list_type4 .btn_m.down:before {content:'';display:inline-block;width:13px;height:16px;margin-right:7px;background-repeat:no-repeat;vertical-align:-3px;}
.board_list_type4 .btn_m.pdf:before {background-image:url(/images/common/icon_btn_pdf.png);vertical-align:-3px;}
.board_list_type4 .btn_m.down:before {background-image:url(/images/common/icon_btn_down.png);vertical-align:-3px;} 

/* view */
.board_view:after {content:'';display:block;clear:both;}
.board_view .board_view_head {display:table;width:100%;border-top:#0068b8 3px solid;border-bottom:#444 1px solid;}
.board_view_head .tit {display:table-cell;padding:28px 30px;color:#333;font-size:26px;line-height:34px;font-family:'Noto Sans';word-break:keep-all;vertical-align:middle;}
.board_view_head .date {display:table-cell;width:140px;padding:28px 30px 28px 0;box-sizing:border-box;color:#444;font-size:16px;line-height:34px;text-align:right;vertical-align:middle;}
.board_view_body {padding:40px 30px;border-bottom:#b0b0b0 1px solid;color:#666;font-size:16px;line-height:28px;word-break:keep-all;}
.board_view_body strong {font-weight:400;}
.board_view_body img {max-width:100%;}
.board_view_body td {text-align:left;}
.board_view_pg li {display:table;width:100%;height:60px;border-bottom:#e5e5e5 1px solid;}
.board_view_pg li strong {display:inline-block;width:128px;padding-left:60px;box-sizing:border-box;background-repeat:no-repeat;background-position:30px center;color:#666;font-size:15px;line-height:60px;letter-spacing:-1px;vertical-align:middle;}
.board_view_pg li strong:after {content:'';display:inline-block;width:1px;height:16px;margin-left:25px;background:#ebebeb;vertical-align:-3px;}
.board_view_pg li.prev strong {background-image:url(/images/common/ico_view_pg_prev.png);}
.board_view_pg li.next strong {background-image:url(/images/common/ico_view_pg_next.png);}
.board_view_pg li span {display:inline-block;width:1000px;padding:0 25px;box-sizing:border-box;font-size:16px;line-height:60px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;}
.board_view_img {padding-bottom:40px;}

/* write */
.board_write_table {clear:both;border-top:#0068b8 3px solid;}
.board_write_table tbody th {padding:20px 20px 19px;border-bottom:#e5e5e5 1px solid;background:#f8f8f8;font-size:15px;color:#666;text-align:center;}
.board_write_table tbody td {padding:9px 20px 9px;border-bottom:#e5e5e5 1px solid;}
.board_write_table tbody td .txt {display:inline-block;margin-left:10px;color:#999;font-size:15px;letter-spacing:-1px;}

.board_bottom_rtxt {position:absolute;margin:25px 0 0 10px;}
.board_bottom_rtxt .txt {display:inline-block;position:relative;padding-left:9px;color:#666;font-size:15px;letter-spacing:-1px;}
.board_bottom_rtxt .txt:before {content:'';display:block;position:absolute;top:9px;left:0;width:3px;height:3px;border-radius:100%; background:#aaa; }
.board_bottom_rtxt .txt em {color:#f54c4c;}

.board_btn_area {padding-top:20px;}
.board_btn_area:after {content:'';display:block;clear:both;}
.board_btn_area .btn_list, .board_btn_area .btn_write {float:right;display:inline-block;width:90px;height:50px;line-height:50px;border-radius:2px;background:#0068b8;font-size:16px;color:#fff;letter-spacing:-1px;text-align:center;vertical-align:middle;}

/* data table */
.board_data_table tbody th {padding:20px 20px 19px;border-bottom:#e5e5e5 1px solid;background:#f8f8f8;font-size:15px;color:#666;text-align:center;}
.board_data_table tbody td {padding:20px 20px 19px;border-bottom:#e5e5e5 1px solid;font-size:16px;color:#333;}
/*.board_data_table tbody td a:hover {text-decoration:underline;}*/
.board_data_table .state {color:#666;font-weight:bold;}
.board_data_table .state .ing {color:#0068b8;}
.board_data_table .state .fin {color:#bbb;} 
.board_data_table .down_pdf {display:inline-block;margin-right:26px;}
.board_data_table .down_pdf:before {content:'';display:inline-block;width:19px;height:22px;margin-right:6px;background:url(/images/common/icon_file_pdf.png);vertical-align:-5px;}
.board_data_table .down_pdf span:after {content:',';display:inline-block;}
.board_data_table .down_pdf:last-child span:after {display:none;}

/* paging */
.paging {clear:both;padding-top:30px;text-align:center;}
.paging a {display:inline-block;vertical-align:middle;}
.paging a.first, .paging a.prev, .paging a.next, .paging a.last {width:32px;height:32px;background-repeat:no-repeat;background-position:center center;border:#e5e5e5 1px solid;border-radius:2px;vertical-align:middle;}
.paging a.first {background-image:url(/images/common/icon_pg_first.png);border-right:none;}
.paging a.prev {background-image:url(/images/common/icon_pg_prev.png);}
.paging a.next {background-image:url(/images/common/icon_pg_next.png);}
.paging a.last {background-image:url(/images/common/icon_pg_last.png);border-left:none;}
.paging .num {display:inline-block;width:260px;}
.paging .num > span {display:inline-block;height:34px;}
.paging .num > span:before {content:'';display:inline-block;width:2px;height:2px;margin:0 12px;background:#999;}
.paging .num > span:first-child:before {display:none;}
.paging .num > span > a {display:inline-block;color:#999;font-size:16px;line-height:34px;}
.paging .num > span > a:hover {color:#fd2972;}
.paging .num > span > a.active {color:#0068b8;font-weight:bold;}

/* layer pop */
.layer_pop {display:none;position:fixed;top:0;bottom:0;left:0;right:0;overflow:auto;z-index:1000;}
.layer_pop .layer_pop_wrap {display:table;width:100%;height:100%;table-layout:fixed;}
.layer_pop .pop_area {display:table-cell;padding:30px;vertical-align:middle;}
.layer_pop .pop_cont {position:relative;width:500px;margin:0 auto;} /*팝업 사이즈*/
.layer_pop .pop_wrap {padding:0 20px;background:#fff;border:#e5e5e5 1px solid;}
.layer_pop .head_area {padding:0 60px 0 10px;height:88px;border-bottom:#444 1px solid;}
.layer_pop .head_area h4 {color:#333;font-size:26px;line-height:88px;font-family:'Noto Sans';font-weight:500;letter-spacing:-1px;}
.layer_pop .btn_close {position:absolute;top:26px;right:21px;width:37px;height:38px;background:url('/images/common/icon_pop_close.png') no-repeat center center;cursor:pointer;}
.layer_pop .con_area {margin:50px 10px;text-align:center;}
.layer_pop .con_area p {font-size:16px;color:#666;line-height:26px;letter-spacing:-1px;}
.layer_pop .con_area p strong {color:#0068b8;font-weight:bold;}
.layer_pop .btn_m {display:inline-block;height:40px;line-height:40px;padding:0 25px;border-radius:2px;background:#fff;border:#aaa 1px solid;font-size:16px;color:#333;font-weight:bold;letter-spacing:-1px;text-align:center;vertical-align:middle;}

/* box */
.gbox {padding:15px 30px 14px;background:#f9f9f9;border:#dcdcdc 1px solid;}
.gbox .txt_list li {position:relative;margin:9px 0;padding-left:11px;font-size:15px;color:#999;line-height:1.4;}
.gbox .txt_list li:after {content:'';display:block;position:absolute;left:0;top:8px;width:3px;height:3px;background:#aaa;border-radius:100%;}
.gbox .txt_list li strong {color:#666;font-weight:bold;}
.gbox .txt_list li strong:after {content:':';display:inline-block;margin:0 5px 0 10px;font-weight:normal;}




 


