@charset "utf-8";

/* 고객센터 */
.cs .customer_agree {padding-top:20px;text-align:right;}
.cs .customer_agree .checkbox input[type="checkbox"] + label {;margin-right:10px;}

.layer_pop.cs_complete .con_area {padding-top:150px;background:url('/images/common/icon_complete.png') no-repeat center top;}
.layer_pop.cs_complete .con_area p {margin:10px 0;}
.layer_pop.cs_complete .btn_m {margin-top:30px;}