<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="wistrongh=1200">
<meta name="description" content="">
<title>우리자산신탁</title>
<link rel="stylesheet" type="text/css" href="../../resource/css/common.css">
<link rel="stylesheet" type="text/css" href="../../resource/css/layout.css">
<link rel="stylesheet" type="text/css" href="../../resource/css/content.css">
<script src="../../resource/js/lib/jquery-1.12.4.min.js"></script>
<script src="../../resource/js/lib/jquery.easing.1.3.js"></script>
<!--[if lte IE 9]>
	<script src="../../resource/js/lib/placeholders.min.js"></script>
	<script src="../../resource/js/lib/html5.js"></script>
<![endif]-->
</head>
<body>
<!-- skip nav -->
<div id="skip_wrap">
	<a href="#content" class="skip_nav">본문 바로가기</a>
</div>
<!-- //skip nav -->
<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<header id="header">
		<h1 class="logo"><a href="#none"><span class="blind">우리자산신탁</span></a></h1>
		<div class="gnb_nav">
			<ul class="dep1">
				<li>
					<a href="#none">회사소개</a>
					<ul class="dep2">
						<li><a href="#none">회사개요</a></li>
						<li><a href="#none">CI소개</a></li>
						<li><a href="#none">경영현황</a></li>
						<li><a href="#none">회사소식</a></li>
						<li><a href="#none">채용정보</a></li>
						<li><a href="#none">오시는 길</a></li>
					</ul>
				</li>
				<li>
					<a href="#none">신탁상품</a>
					<ul class="dep2">
						<li><a href="#none">토지신탁</a></li>
						<li><a href="#none">관리형 토지신탁</a></li>
						<li><a href="#none">분양관리신탁</a></li>
						<li><a href="#none">담보신탁</a></li>
						<li><a href="#none">처분신탁</a></li>
						<li><a href="#none">관리신탁</a></li>
						<li><a href="#none">대리사무</a></li>
						<li><a href="#none">도시개발사업</a></li>
						<li><a href="#none">PFV사업</a></li>
						<li><a href="#none">자산관리</a></li>
						<li><a href="#none">부동산금융</a></li>
					</ul>
				</li>
				<li>
					<a href="#none">물건정보</a>
					<ul class="dep2">
						<li><a href="#none">분양물건정보</a></li>
						<li><a href="#none">공매물건정보</a></li>
					</ul>
				</li>
				<li>
					<a href="#none">고객센터</a>
					<ul class="dep2">
						<li><a href="#none">약관공시</a></li>
						<li><a href="#none">고객문의</a></li>
						<li><a href="#none">신탁 FAQ</a></li>
						<li><a href="#none">개인정보처리방침</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="all_menu">
			<a href="#none" class="btn_open"><span class="blind">전체메뉴</span></a>
			<!-- <div class="allmenu_area"></div> -->
		</div>
	</header>
	<!-- //header -->
	<!-- container -->
	<div id="container" class="cs"><!-- 각 메뉴명 고유 클래스 삽입 -->
		<!-- title area -->
		<div class="title_area">
			<h3>고객문의</h3>
		</div>
		<!-- //title area -->
		<!-- lnb area -->
		<div class="lnb_area">
			<div class="lnb_wrap">
				<div class="loc">
					<span class="home"><span class="blind">홈</span></span>
					<span class="dep1">고객센터</span>		
				</div>
				<div class="dep2">
					<a href="#none">고객문의</a>
					<ul class="dep_list">
						<li><a href="#none">약관공시</a></li>
						<li><a href="#none">고객문의</a></li>
						<li><a href="#none">신탁 FAQ</a></li>
						<li><a href="#none">개인정보처리방침</a></li>
					</ul>
				</div>
				<!--<div class="dep3">
					<ul>
						<li><a href="#none" class="curr">회사소식</a></li>
						<li><a href="#none">PHOTO 소식</a></li>
						<li><a href="#none">사회공헌</a></li>
					</ul>
				</div>-->
			</div>
		</div>
		<!-- //lnb area -->
		<!-- content -->
		<div id="content">
			<div class="content_wrap">
				<h4>고객문의</h4>
				
				<h5>개인정보 수집항목</h5> 
				<div class="gbox">
					<ul class="txt_list">
						<li><strong>수집하는 개인정보 항목</strong> 이름, 이메일, 전화번호</li>
						<li><strong>개인정보의 수집 및 이용목적</strong> 개인 식별 및 상담 답변 제공</li>
						<li><strong>개인정보의 보유 및 이용기간</strong> 본 서비스의 이용 시 입력한 성명 및 접속 로그는 절대 기록 보관하지 않으며 제3자에게 제공하거나 취급 · 위탁하지 않습니다.</li>
					</ul>
				</div>
				<div class="customer_agree">
					<span class="checkbox">
						<input type="checkbox" id="checkbox" name="checkbox" checked="checked">
						<label for="checkbox">개인정보 수집, 이용에 동의합니다.</label>
					</span> 	
				</div>
				
				<h5>문의하기</h5> 
				<!-- 표 -->
				<div class="board_write_table">
					<table>
						<caption>문의하기 등록</caption>
						<colgroup>
							<col width="160px">
							<col width="*">
						</colgroup>
						<tbody>
							<tr>
								<th>이름</th>
								<td><input type="text" class="input w340" placeholder=""></td>
							</tr>
							<tr>
								<th>이메일</th>
								<td><input type="text" class="input w340" placeholder=""></td>							
								</tr>
							<tr>
								<th>전화번호</th>
								<td>
									<input type="text" class="input w340" placeholder="">
									<span class="txt">* 전화번호( “-”없이 입력해주세요. ex ) 01012345678 )</span>
								</td>
							</tr>
							<tr>
								<th>제목</th>
								<td><input type="text" class="input" placeholder=""></td>
							</tr>
							<tr>
								<th>내용</th>
								<td>
									<textarea class="textarea h300"></textarea>
								</td>
							</tr>
						</tbody>
					</table>	 
				</div>
				<!-- //표 -->
				<span class="board_bottom_rtxt">
					<span class="txt">질문 입력 시 <em>주민등록번호, 외국인등록번호, 운전면허번호</em>는 입력하지 않습니다.</span>
				</span>
				<!-- 버튼 -->
				<div class="board_btn_area">
					<a href="#none" class="btn_write" onclick="layerOpen('popComplete')"><span>등록</span></a><!-- 문의하기 완료 팝업 보여짐 -->
				</div>
				<!-- //버튼 -->				 
			</div>
		</div>
		<!-- //content -->
	</div> 
	<!-- //container -->
	<!-- footer -->
	<footer id="footer">
		<div class="footer_wrap">
			<div class="foot_menu">
				<ul>
					<li class="privacy"><a href="#">개인정보처리방침</a></li>      
					<li><a href="#">오시는길</a></li>      
					<li><a href="#">고객문의</a></li>      
					<li><a href="#">윤리강령</a></li>
				</ul>
			</div>
			<div class="family_site">
				<a href="#none">FAMILY SITE</a>
				<div class="list">
					<ul>
						<li><a href="http://wooribank.com" target="_blank">우리은행</a></li>
						<li><a href="http://wooricard.com" target="_blank">우리카드</a></li>
						<li><a href="http://www.wooriib.com" target="_blank">우리종합금융</a></li>
						<li><a href="http://www.woorifis.com" target="_blank">우리FIS</a></li>
						<li><a href="http://www.wfri.re.kr" target="_blank">우리금융경영연구소</a></li>
						<li><a href="http://www.wooricredit.com" target="_blank">우리신용정보</a></li>
						<li><a href="http://www.woorifs.co.kr" target="_blank">우리펀드서비스</a></li>
						<li><a href="http://www.kukjetrust.com" target="_blank">우리자산신탁</a></li>
						<li><a href="https://www.wooriam.kr" target="_blank">우리자산운용</a></li>
						<li><a href="http://www.wooriglobalam.com" target="_blank">우리글로벌자산운용</a></li>
					</ul>
				</div>
			</div>
 			<div class="foot_logo">
				<ul>
					<li><span class="woori"><span class="blind">우리자산신탁</span></span></li>
					<li><span class="lucestar"><span class="blind">루체스타</span></span></li>
				</ul>
			</div>
			<div class="foot_con">
				<p class="addr">(06160) 서울특별시 강남구 테헤란로 419. 강남파이낸스빌딩 20층<em>전화. 02-6202-3000</em><em>팩스. 02-6202-3010</em></p>
				<p class="copy">COPYRIGHT © WOORI ASSET TRUST. LTD. ALL RIGHTS RESERVED</p>
			</div>
		</div>
	</footer>
	<!--// footer -->
	
	<!-- 문의하기 완료 레이어 팝업 -->
	<script>
	$(function(){
		layerOpen('popComplete'); //레이어 팝업 열기 : layerOpen('Id')
	});
	</script>
	<!-- layer popup -->
	<div id="popComplete" class="layer_pop cs_complete">
		<div class="layer_pop_wrap">
			<div class="pop_area">
				<div class="pop_cont">
					<div class="pop_wrap">
						<!-- 팝업내용 -->
						<div class="head_area">
							<h4>문의하기 완료</h4>
						</div>
						<div class="con_area">
							<p>
								고객님께서 신청해주신 문의하기 내용이<br>
								<strong>정상적으로 등록</strong>되었습니다.
							</p>
							<p>
								담당자가 빠른시간 안에 답변드리겠습니다.
							</p>
							<button type="button" class="btn_m" onclick="layerClose('popComplete');">닫기</button>
						 </div>
						 <button type="button" class="btn_close" onclick="layerClose('popComplete');"><span class="blind">닫기</span></button> <!-- 레이어 팝업 닫기 : layerClose('Id') -->
						<!-- //팝업내용 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //layer popup -->
	<!-- //문의하기 완료 레이어 팝업 -->
	
</div>
<!-- //wrap -->
<script src="../../resource/js/common.js"></script>
</body>
</html>
